# Force Haxe files to show up instead of appearing as Other.
*.hx linguist-language=Haxe

# JS showing up is annoying, since it takes, like, 80% of the project because of Haxe export, so don't show it in languages.
*.js linguist-documentation

# If someone exports this for some reason, don't include these.
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
